* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #282a36;
}

header {
  background-color: #282a36;
  margin: auto;
  /* width: 50%; */
  text-align: center;
  padding: 15px;
  color: #767676;
}

#game-container {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  z-index: 2;
  background: url("../assets/images/court-background.jpg");
  /* width: 1000;
  height: 900; */
  /* position: absolute; */
}

.img {
  display: none;
}

#reset-button {
  display: none;
  padding: 10px 20px;
  font-size: 15px;
  z-index: 1;
  position: absolute;
  top: 63%;
  left: 46%;
}

/* #initial-input { */
#new-name-form {
  display: none;
  /* float: left; */
  /* display: inline-block; */
  border: 2px solid white;
  background-color: burlywood;
  color: white;
  z-index: 1;
  position: absolute;
  top: 51%;
  left: 43%;
  /* text-align: left; */
}

.score-for-user {
  list-style: none;
}

.scores-list {
  color: #767676;
  margin-bottom: 18px;
  display: inline-block;
  vertical-align: top;
  max-width: 400px;
  padding: 30px;
}

.hug-left {
  float: left;
  max-width: 400px;
  /* padding: 15px; */
  padding: 5px 15px 5px 15px;
}
.hug-right {
  float: right;
  /* padding: 15px; */
  padding: 5px 15px 5px 15px;
}

/* ADD NAV BAR, add hidden high score list to show after game is over add event listeners to swap between game and highscores list */
/* html is data */
/* event.target.data-set.id and use to fetch individual shit */
