#game-container {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;

  /* margin: 0;
  display: flex; */

  background: url("../src/images/court-background.jpg");

  /* This centers our sketch horizontally. */
  /* justify-content: center;

  align-items: center; */
}
